<div class=<"users new">
<h2>Create User</h2>
<%= form_for(:user, :url => {:action => "create"}) do |f| %>
	<table summary="User form fields">
    <tr>
	<th>First Name</th>
	<td><%= f.text_field(:first_name) %></td>
    </tr>
	<tr>
	<th>Last Name</th>
	<td><%= f.text_field(:last_name) %></td>
    </tr>
	<tr>
	<th>Gender</th>
	<td><%= f.text_field(:gender) %></td>
    </tr>
	<tr>
	<th>Password</th>
	<td><%= f.password_field(:password) %></td>
    </tr>
	<tr>
	<th>Confirm Password</th>
	<td><%= f.password_field(:password_confirmation) %></td>
    </tr>
	<tr>
	<th>Shipping Address</th>
	<td><%= f.text_field(:shipping_address) %></td>
    </tr>
	<tr>
	<th>Card Number</th>
	<td><%= f.text_field(:card_number) %></td>
    </tr>
	<tr>
	<th>Email</th>
	<td><%= f.text_field(:email) %></td>
    </tr>
	<tr>
	<th>DOB</th>
	<td><%= f.date_select(:DOB, :order => [:day, :month, :year], :start_year => 2015, :end_year => 1910) %></td>
    </tr>
	<th>Admin?</th>
	<td><%= f.select :admin, [["Yes", 1], ["No", 0]] %></td>
    </tr>
	<th>Customer?</th>
	<td><%= f.select :customer, [["Yes", 1], ["No", 0]] %></td>
    </tr>
	</table>
	<div class="actions">
    <%= f.submit %>
	</div>
<% end %>
</div>
