<% if !flash[:notice].blank? %>
	<div class="notice">
		<%= flash[:notice] %>
	</div>
<% end %>

<div class=”users show”>
	<h2>Show User</h2>
	<table summary = “User detail view”>
	     <tr>
		<th>First Name</th>
		<td><%= @user.first_name %></td>
	    </tr>
		<th>Last Name</th>
		<td><%= @user.last_name %></td>
	    </tr>
		<th>Gender</th>
		<td><%= @user.gender %></td>
	    </tr>
		<th>Email</th>
		<td><%= @user.email %></td>
	    </tr>
		<th>Shipping Address</th>
		<td><%= @user.shipping_address %></td>
	    </tr>
		<th>Card Number</th>
		<td><%= @user.card_number %></td>
	    </tr>
		<tr>
	</table>
	
	<h1>Orders made:</h1>
<table>
<thead>
    <tr>
	  <th>Order ID</th>
      <th>Order made at</th>
      <th></th>
	  <th></th>
    </tr>
  </thead>
<tbody>
	<% @orders.each do |order| %>
		<tr>
			<td><%= order.id %></td>
			<td><%= order.created_at %></td>
			<td><%= link_to 'Show', order %></td>
			<td><%= link_to 'Edit', edit_order_path(order) %></tf>
		</tr>
	<% end %>
</tbody>
	
	
	<%= link_to("Back to users",{:action => "index"}) %>
